@CHARSET "UTF-8";

#logo {
	background: url(/img/logo.png) no-repeat;
	text-indent: -999em;
	height: 123px;
}

#menu a {
  	width : 150px;
  	display: block;
  	float: left;
}

#menu a.active, #menu a:hover {
	font-weight: bold;
}

.list thead td {
	background: white url(img/grid_headerbg.gif) repeat-x 0px 100%;
	border-width: 0px 0px 1px 1px;
	color: black;
	font-size: 0,9em;
	font-weight: bold;
	padding: 5px 2px 4px 5px;
}
#toolbar{
height : 25px ;
border-bottom : 1px solid #d1d1d1 ;
background: rgba(255, 255, 255, 0.2) url("../image/texture.png") repeat scroll center top ; 
_position : fixed ;
z-index : 100 ;
}
.loginform{
float : right ;
}

/* Gestion des sélection multiple */

.menuButton .menu{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
	background: url("../img/sel.png") no-repeat top right;
	position: relative; 
	padding: 5px 20px 5px 5px;
}

.menuButton ul {
	display: none;
	-webkit-box-shadow: 0 4px 10px #8b8b8b;
	-moz-box-shadow: 0 4px 10px #8b8b8b;
	box-shadow: 0 4px 10px #8b8b8b;
	padding: 5px 10px;
	background: white;
	list-style-type:none;
}

.menuButton ul.active {
	display: block;
	position: absolute;
	
}
.menuButton ul li:hover {
	background: #EEEEEE;
}
.menuButton ul li.form:hover {
	background: none;
}

.logout {
	padding-left: 20px;
	background: url("../img/logout.png") no-repeat top left;
}
.separator {
    font-size : 0pt;
    line-height : 0pt;
    margin : 0px;
    padding : 0px;
    clear : both;
    opacity : 0.4;
    filter : alpha(opacity=40);
    zoom : 1;
    float : none;
    width : auto;
    height : 0px;
    margin-top : 15px;
    margin-bottom : 10px;
    border-top : 1px solid #918A88;
    border-bottom : 1px solid white;
}

/* Onglet Contact */
.spam {
	background: #ffcc99;
}
.new td {
	font-weight: bold;
}

